.task-container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 40px;
    width: 900px;
    flex-direction: column;
}

main {
    margin-left: 232px;
    padding: 32px 64px;
    max-width: 1440px;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 44%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group-subtask {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 30px;
}

.assigned-input {
    width: 100%;
    background-color: var(--textwhite);
    border: 1px solid var(--middlegrey);
    border-radius: 8px;
}

.assigned-input input {
    width: 95%;
    border: none;
}

.assigned-list {
    height: 200px;
    overflow: scroll;
    background-color: var(--textwhite);
    border-radius: 0px 0px 8px 8px;
}

.assigned-content {
    display: flex;
    justify-content: space-between;
    padding: 2px 12px;
}

.assigned-content:hover {
    background-color: var(--lightgrey);
}

.assigned-user {
    display: flex;
    align-items: center;
    gap: 18px;
}

.assigned-initital {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    color: var(--textwhite);
}

label {
    font-weight: 400;
    margin-bottom: 8px;
}

input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

/* input:hover, select:hover, textarea:hover {
    border: 1px solid var(--darkblue);
} */

textarea {
    resize: vertical;
}

.prio-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 8px;
}

.prio {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background-color: white;
    font-size: 16px;
}

.prio img {
    margin-left: 5px;
}

.prio-group button:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transform: translateY(-1px); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}


button.clear {
    background-color: var(--lightgrey);
    border: 2px solid var(--darkblue);
    color: var(--darkblue);
    padding: 13px 23px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

button.clear:hover {
    color: var(--lightblue);
    border: 2px solid var(--lightblue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transform: translateY(-1px); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.add-task-btn {
    display: flex;
}

button.create-task {
    background-color: var(--darkblue);
    color: white;
    padding: 13px 23px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

button.create-task:hover {
    background-color: var(--lightblue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transform: translateY(-1px); 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.break-between {
    width: 1px;               
    background-color: var(--middlegrey);         
    margin: 0 20px; 
}

#description {
    height: 108px;
}

.subtask-connect {
    position: relative;
    display: flex;
    align-items: center;
}

.subtask-connect input {
    width: 100%;
    padding-right: 40px;
    box-sizing: border-box;
}

.subtask-img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.subtask-img img {
    width: 20px;
    height: 20px;
}

.subtask-img:hover {
    background-color: var(--middlegrey);
    border-radius: 50%;
}

.required {
    color: red;
}

.addtask-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
}

.white-background-container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.white-background {
    margin-top: 40px;
}

.white-background-container form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.white-background-container .form-left, 
.white-background-container .form-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 44%;
}

.white-background-container input:hover, 
.white-background-container select:hover, 
.white-background-container textarea:hover {
    border: 1px solid #aaa;
}
