.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding-right: 40px;
    padding-left: 348px;
    box-shadow: 0px 4px 4px 0px #00000010;
}

.headerContent {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.headerRight {
    display: flex;
    align-items: center;
    width: 104px;
    height: 56px;
    gap: 16px;
    cursor: pointer;
}

.headerRight img:hover {
    transform: scale(1.2);
}

.userLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 100%;
    width: 56px;
    height: 56px;
}

.userLetter:hover {
    background-color: var(--lightgrey);
}

.userLetter h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 14px;
    color: #29ABE2;
}