.dnone {
    display: none;
}

/* .summary {
    margin-left: 232px;
    padding: 32px 64px;
} */

.headerSummary {
    gap: 24px;
}

.headline {
    font-size: 60px;
    font-weight: 700;
}

.verticalLineBlue {
    width: 3px;
    height: 60px;
    background-color: var(--lightblue);
    border-radius: 2px;
}

.textHeader {
    font-size: 28px;
}

.horizontalLineBlue {
    width: 60px;
    height: 3px;
    background-color: var(--lightblue);
    border-radius: 2px;
}

.verticalLineGrey {
    width: 3px;
    height: 90px;
    background-color: var(--middlegrey);
    border-radius: 2px;
}

.ctnTasksSummary {
    flex-direction: column;
    width: 552px;
    gap: 24px;
}

.ctnTasks {
    background-color: var(--textwhite);
    border-radius: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.ctnTasks:hover {
    cursor: pointer;
    background-color: var(--darkblue);
    color: white;
    transform: scale(1.04);
}

.ctnTasks img {
    transition: transform 0.3s ease;
}

.ctnTasks:hover .imgPencil {
    content: url('../assets/img/pencilLight.svg');

}

.ctnTasks:hover .imgCheck {
    content: url('../assets/img/checkLight.svg');
}

.gap20 {
    gap: 20px;
}

.ctnTaskSmal {
    width: 168px;
    height: 154px;
}

.ctnTaskMiddle {
    min-width: 264px;
    height: 154px;
}

.ctnTaskLarge {
    width: 100%;
    height: 154px;
}

.counter {
    font-size: 48px;
    font-weight: 600;
}

.mainSummaryTop {
    gap: 24px;
}

.img {
    width: 60px;
}

.summaryTask {
    flex-direction: column;
}

.mainSummaryBottom {
    width: 100%;
    justify-content: space-between;
    gap: 24px;
}

.taskBottom {
    flex-direction: column;
    gap: 8px;
}

.textCounter {
    font-size: 20px;
    text-align: center;
}

.mainSummaryMiddleLeft {
    width: 264px;
}

.date {
    font-weight: 600;
    font-size: 20px;
}

.mainSummaryMiddleRight {
    flex: 1;
    flex-direction: column;
    gap: 12px;
    justify-content: baseline;
}

.ctnGreeting {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 64px;
}

.daytimeGreeting {
    font-size: 40px;
}

.userGreeting {
    font-size: 48px;
    color: var(--lightblue);
    font-weight: 600;
}



@media (max-width: 1280px) {
    .greetingSummary {
        display: none;
    }
}

@media (max-width: 1024px) {
    .headerSummary {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .verticalLineBlue {
        display: none;
    }

    .horizontalLineBlue {
        display: block;
        margin: 12px 0;
    }

    .headlineSummary {
        margin-bottom: 0;
    }



}

@media (max-width: 1024px) {}