body {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #f6f7f8;
    font-family: 'Inter', sans-serif;
}

:root {
    --darkblue: #2a3647;
    --darkblueMenu: #091931;
    /*Active Menu*/
    --lightblue: #29abe2;
    --blue: #0038ff;
    /* Button UserStory*/
    --blue: #1fd7c1;
    /* Button Technical Task*/
    --textwhite: #ffffff;
    --textblack: #000000;
    --middlegrey: #d1d1d1;
    --lightgrey: #F6F7F8;
    --red: #ff3d00;
    /* Prio urgent*/
    --green: #7ae229;
    /* Prio low*/
    --orange: #ffa800;
    /* Prio medium*/
}

/* .example {
    background-color: var(--blue);
} */

.btn {
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-x {
    display: flex;
    justify-content: center;
}

.d-flex-y {
    display: flex;
    align-items: center;
}

.d-none {
    display: none;
}

a {
    text-decoration: none;
}